<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Liste des factures</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Montant</th>
          <th>Montant du remise</th>
          <th>Date</th>
          <th>Est active?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facture of factures">
          <td>{{ facture.id }}</td>
          <td>{{ facture.montant }}</td>
          <td>{{ facture.remise }}</td>
          <td>{{ facture.date.substring(0, 10) }}</td>
          <td>{{ facture.active ? "Oui" : "Non" }}</td>

          <td>
            <button (click)="deleteFacture(facture.id)" class="btn btn-danger">
              Supprimer
            </button>
            <button
              (click)="updateFacture(facture.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Modifier
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
